<%= form_for(@workspace) do |f| %>
  <% if @workspace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workspace.errors.count, "error") %> prohibited this workspace from being saved:</h2>

      <ul>
      <% @workspace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= render 'scenes/netwidget' %>

  <div class="field">
    <%= f.label :scene %><br />
    <%= f.select :scene_id, options_from_collection_for_select(Scene.all, :id, :name, @workspace.scene.id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
