<%= javascript_tag do %>

  function clearScene() {
    var widget = <%= @module %>.getWidget();
    var nodes = widget.getNodes();

    for(var i = 0; i < nodes.length; i++)
      widget.removeNode(nodes[i].name);
  };

  function loadStage(json) {
    if (!json)
      return;

    var widget = <%= @module %>.getWidget();
    Netlab.loadJSON(widget, json);
    <% if @mode == 'management' %>
      var workspace = $('.virtual_machines').attr('id');
      <%= @handler %>.useWidget(widget);
      <%= @handler %>.initManagementIface(workspace);
    <% end %>
  };

  function loadJSON(sceneId, sceneValue)
  {
    $('#error_msg').hide();
    $('#container').hide();
    $('#spinner').show();
    $.ajax({
      url: '/scenes/' + sceneId + '?redirect_url=' + window.location.protocol + '//' + window.location.host + '/workspaces',
      dataType: 'json',
      success: function(data) {
        if(data.redirect){
          window.location.href = data.redirect; 
        }else{
          checkedId = 0;
          $('#table_workspaces input').each(function() {
            if ($(this).is(':checked')) {
              checkedId = $(this).val();
            }
          });
          if($('#table_workspaces').length){
            if (checkedId == sceneId) {
              $('#container').show();
              $('#spinner').hide();
              $('#workspace_title').html(sceneValue);
              loadStage(data.definition);
            }
          }else{
            $('#container').show();
            $('#spinner').hide();
            $('#workspace_title').html(sceneValue);
            loadStage(data.definition);
          }
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        $('#error_msg').show();
        $('#spinner').hide();
        $('#error_msg').css('width', <%= @width %>);
        $('#error_msg').css('height', <%= @height %>);
        $('#error_msg').css('border', '1px solid #D4D4D4');
        $('#spinner').hide();
        $('#error_msg').html('<div class="alert-danger alert-block">'+'<h4 class="alert-heading">'+xhr.status+' '+thrownError+'</h4>'+'</div>');
        $('#workspace_title').html('Server Error');
       }
    })
  };

  function initJSON() {
    $('#table_workspaces input').each(function() {
      if ($(this).is(':checked')) {
        sceneValue = $(this).attr('class');
        sceneId = $(this).val();
        loadJSON(sceneId, sceneValue);
      }
    });

    var sceneId = $('#workspace_scene_id').val();
    <% if @workspace.name %>
      if ($('#scene_name').length == 0) {
        var sceneValue = $('#workspace_scene_id :selected').text();
      }else{
        var sceneValue = $('#scene_name').text();
      }
    <% else %>
      var sceneValue = $('#workspace_scene_id :selected').text();
    <% end %>

    if (sceneId >= 0)
      loadJSON(sceneId,  sceneValue);
  };

  function initSpinner() {
    $('#spinner').css('width', <%= @width %>);
    $('#spinner').css('height', <%= @height %>);
    $('#spinner').css('border', '1px solid #D4D4D4');
    var opts = {
      lines: 15,
      length: 20,
      width: 6,
      radius: 20,
      color: '#77D',
      speed: 2,
      top: 200,
      left: 250
    };
    new Spinner(opts).spin(document.getElementById('spinner'));
  };

  function initWidget() {
    $("#workspace_scene_id").change(function() {
        $('#workspace_title').html('Loading...');
        clearScene();
        loadJSON($('#workspace_scene_id').val(), $("#workspace_scene_id :selected").text());
    });

    $('#table_workspaces input').bind('click', function() {
      $('#workspace_title').html('Loading...');
      clearScene();
      loadJSON($(this).val(), $(this).attr('class'));
    });

    <%= @module %>.initWidget({
      container: "container",
      width: <%= @width %>,
      height: <%= @height %>,
      mode: "<%= @mode %>",
      <% if @mode == 'management' %>
        handler: <%= @handler %>.getHandler(),
      <% end %>
      callback: initJSON
    });
  };

  $(window).load( function() {
    initSpinner();
    initWidget();
  });

<% end %>
