<%= render partial: 'console_controller', formats: :js %>

<p id="notice"><%= notice %></p>

<%= hidden_field_tag 'workspace_scene_id', @workspace.scene.id %>

  <div class="container-fluid">

    <ul id="breadcrumb" class="breadcrumb wizard">
      <li><a href="/"><i class="icon-home"></i></a></li>
      <li><a href="/workspaces">Workspaces</a></li>
      <li><%= link_to @workspace.name, workspace_path(@workspace) %></li>
      <li class="active">Manage</li>
    </ul>

    <div class="row-fluid container-widget">

      <div id="netlab_params" class="span5">

        <div class="tabbable tabbable-bordered">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><h4>Workspace management</h4></a></li>
            <li><a href="#tab2" data-toggle="tab"><h4>Tasks</h4></a></li>
          </ul>
         <div id="tab-content" class="tab-content">
            <div class="tab-pane active" id="tab1">
              <span id="scene_name" style="VISIBILITY:hidden"><%= @workspace.scene.name %></span>
              <center>
                <div class="control-group">
                  <%= label_tag "Virtual machine:"%>
                  <div class="controls">
                    <%= select_tag "virtual_machine", options_from_collection_for_select(VirtualMachine.find_all_by_workspace_id(@workspace.id), :name, :name) %>
                  </div>
                </div>
              </center>
            </div>

            <div class="tab-pane" id="tab2">
              <div><br/>
                <%= render partial: 'workspace_tasks/workspace_tasks', :locals => {:workspace => @workspace} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if not @workspace.scene.nil? %>
        <div id="scene_view" class="span6 offset1">
          <div class="navbar">
            <div id="container_title" class="navbar-inner">
              <a id="workspace_title" href="#" class="brand">Loading...</a>
              <% if @workspace.id %>
                <span class="icon pull-right">
                  <%= link_to '<i class="icon-eye-open"></i>'.html_safe, @workspace %>
                </span>
              <% end %>
            </div>
          </div>
          <%= render 'scenes/netwidget' %>
        </div>
      <% end %>

    </div>

  </div>

<div id="<%= @workspace.id %>" class="virtual_machines">
  <% VirtualMachine.find_all_by_workspace_id(@workspace.id).each do |vm| %>
    <div id="<%= vm.name %>" class="ui-widget-content ui-corner-all" style="display: none">
      <h3 class="ui-widget-header ui-corner-all"><%= vm.name %></h3>
      <div class="container"></div>
    </div>
  <% end %>
</div>
