<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workspace.name %>
</p>

<%= hidden_field_tag 'workspace_scene_id', @workspace.scene.id %>

<%= render 'scenes/netwidget' %>

<%= label_tag "Virtual machine:" %>
<%= select_tag "virtual_machine_id", options_from_collection_for_select(VirtualMachine.find_all_by_workspace_id(@workspace.id), :id, :name) %>
<%= button_to "Manage", configure_workspace_path(@workspace), :remote => true %>

<%= link_to 'Back', workspaces_path %>