<%= render partial: 'console_controller', formats: :js %>

<p id="notice"><%= notice %></p>

<%= hidden_field_tag 'workspace_scene_id', @workspace.scene.id %>

  <div class="container-fluid">

    <ul id="breadcrumb" class="breadcrumb wizard">
      <li><a href="/"><i class="icon-home"></i></a></li>
      <li><a href="/workspaces">Workspaces</a></li>
      <li><%= link_to @workspace.name, workspace_path(@workspace) %></li>
      <li class="active">Manage</li>
    </ul>

    <div class="row-fluid container-widget">

      <div id="netlab_params" class="span5">
        <span id="scene_name" style="VISIBILITY:hidden"><%= @workspace.scene.name %></span>
      
        <center>
          <div class="control-btn">
            <%= link_to '<i class="icon-download icon-white"></i> Download captures'.html_safe, 
              download_captures_workspace_path(@workspace.id), :class => 'btn btn-success' %>
            
            <div class="btn-group">
              <button id="btn-chat" class="btn" onclick="switchChat(); TogetherJS(this); return false;">
                <i class="icon-comment"></i> <span id="btn-text-chat" class="label" value="0">Offline</span></button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href='#newInvitationModal' data-toggle="modal"><i class="icon-plus"></i> New invitation</a></li>
              </ul>
            </div>
            <a></a>
            <div class="btn-group">
              <button class="btn btn-info"><i class="icon-tasks icon-white"></i> Tasks</button>
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href='#newTaskModal' data-toggle="modal"><i class="icon-plus"></i> New task</a></li>
                <li><a href='#viewTaskModal' data-toggle="modal"><i class="icon-eye-open"></i> View all tasks</a></li>
              </ul>
            </div>
          </div>
        </center>

        <div id="newInvitationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newInvitationModalHeader">New chat invitation</h3>
          </div>
          <div class="modal-body">
            <%= render partial: 'chat_invitations/form', :locals => {:chat_invitation => ChatInvitation.new, :workspace => @workspace} %>
          </div>
        </div>

        <div id="newTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newInvitationModalHeader">New task</h3>
          </div>
          <div class="modal-body">
            <%= render partial: 'workspace_tasks/form', :locals => {:workspace_task => WorkspaceTask.new, :workspace => @workspace} %>
          </div>
        </div>

        <div id="viewTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="viewTaskModalHeader">Tasks</h3>
          </div>
          <div class="modal-body">
             <%= render partial: 'workspace_tasks/workspace_tasks', :locals => {:workspace => @workspace} %>
          </div>
        </div>

        <div class="tabbable tabbable-bordered">
          <div id="shells" class="tabbable tabbable-bordered">
            <ul class="nav nav-tabs"></ul>
            <div id="tab-content" class="tab-content"></div>
          </div>
        </div>
      </div>

      <% if not @workspace.scene.nil? %>
        <div id="scene_view" class="span6 offset1">
          <div class="navbar">
            <div id="container_title" class="navbar-inner">
              <a id="workspace_title" href="#" class="brand">Loading...</a>
              <% if @workspace.id %>
                <span class="icon pull-right">
                  <%= link_to '<i class="icon-eye-open"></i>'.html_safe, @workspace, :title => 'Show', :rel => 'tooltip' %>
                </span>
                <span class="icon pull-right">
                  <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_workspace_path(@workspace), :title => 'Edit', :rel => 'tooltip' %>
                </span>
              <% end %>
            </div>
          </div>
          <%= render 'scenes/netwidget' %>
        </div>
      <% end %>

    </div>

  </div>

<div id="<%= @workspace.id %>" class="virtual_machines">
  <% VirtualMachine.find_all_by_workspace_id(@workspace.id).each do |vm| %>
    <div id="<%= vm.name %>" class="ui-widget-content ui-corner-all" style="display: none">
      <h3 class="ui-widget-header ui-corner-all"><%= vm.name %></h3>
      <div class="container"></div>
    </div>
  <% end %>
</div>
