<div class="container-fluid">

  <ul id="breadcrumb" class="breadcrumb wizard">
    <li><a href="/"><i class="icon-home"></i></a></li>
    <li><a href="/workspaces">Workspaces</a></li>
    <li class="active"><%= @workspace.name %></li>
  </ul>

  <div class="row-fluid container-widget">

    <div id="netlab_params" class="span5">

      <div class="tabbable tabbable-bordered">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab"><h4>Workspace Info</h4></a></li>
        </ul>
        <div id="tab-content" class="tab-content">
          <div class="tab-pane active" id="tab1">
            <table class="table table-list info">
              <tbody>
                <tr>
                  <td>
                    <p class="formSep"><small class="muted">Name: </small><%= @workspace.name %></p>
                    <p class="formSep"><small class="muted">Owner: </small><%= link_to "#{@workspace.user.first_name} #{@workspace.user.last_name}", profile_path(@workspace.user) %></p>
                    <p class="formSep"><small class="muted">Scene: </small><span id="scene_name"><%= @workspace.scene.name %></span></p>
                    <p class="formSep"><small class="muted">Collaborators: </small>
                    <% User.find(:all, :conditions => ["id != ?", @user.id]).each_with_index do |user, i| -%>
                      <% if @workspace.editors.include?(user) %>
                        <div class="span6">
                          <ul><%= link_to "#{user.first_name} #{user.last_name}", profile_path(user) %></ul>
                       </div>
                      <% end %>
                    <% end -%>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <%= hidden_field_tag 'workspace_scene_id', @workspace.scene.id %>

    <div id="workspace_view" class="span6 offset1" >
      <div class="navbar">
        <div id="container_title" class="navbar-inner">
          <a id="workspace_title" href="#" class="brand">Loading...</a>
          <span class="icon pull-right">
            <%= link_to '<i class="icon-wrench"></i>'.html_safe, manage_workspace_path(@workspace), :title => 'Manage', :rel => 'tooltip' %>
          </span>
          <span class="icon pull-right">
            <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_workspace_path(@workspace), :title => 'Edit', :rel => 'tooltip' %>
          </span>
        </div>
      </div>

      <%= render 'scenes/netwidget' %>
    </div>

  </div>

</div>
