<div class="navbar">
  <div class="navbar-inner">
    <a href="#" class="brand"><%= "#{@user.first_name}'s tasks" %></a>
    <span class="icon pull-right">
      <i class="icon-tasks"></i>
    </span>
  </div>
</div>

<table class="table table-hover table-list">
  <thead>
    <th></th>
    <th>Workspace Name</th>
    <th>State</th>
    <th>Priority</th>
    <th>Subject</th>
    <th>Date</th>
    <th>Actions</th>
  </thead>
  <% @user.assigned_workspace_tasks.where("state < 5").each do |wtask| %>
    <tbody>
      <tr>
        <td class="list-image"><i class="icon-chevron-right"></i></td>
        <td><span class="list-text"><%= "#{wtask.workspace.name}" %></span></td>
        <td><%= "#{wtask.get_status}" %></td>
        <td><%= "#{wtask.get_priority}" %></td>
        <td><%= "#{wtask.subject}" %></td>
        <td><%= ("#{wtask.created_at}").to_time.strftime("%Y/%m/%d") %></td>
        <td>
          <% if not wtask.auto_task.nil? %>
          <%= link_to '<i class="icon-ok icon-white"></i> Ok'.html_safe, do_auto_task_workspace_task_path(wtask), method: :put, :class => 'btn btn-mini btn-success' %>
          <% else %>
            <%= link_to '<i class="icon-eye-open icon-white"></i>'.html_safe, wtask, :class => 'btn btn-mini btn-success' %>
          <% end %>
          <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, wtask, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
