<%= form_for @scene, :html => { :onSubmit => 'return fillForm();' } do |f| %>
    <% if @scene.errors.any? %>
      <div id="error_explanation" class="alert alert-error span7 offset4">
        <h4><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h4>
        <ul>
          <% @scene.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="container-fluid">

    <ul id="breadcrumb" class="breadcrumb wizard">
      <li><a href="/"><i class="icon-home"></i></a></li>
      <li><a href="/scenes">Scenes</a></li>
      <% if @scene.user %>
        <li class="active">Editing <%= @scene.name %></li>
      <% else %>
        <li class="active">New</li>
      <% end %>
    </ul>

    <div class="row-fluid container-widget">

      <div id="scene_view" class="span4 offset3">
        <div class="navbar">
          <div id="container_title" class="navbar-inner">
            <a id="scene_title" href="#" class="brand">Loading...</a>
            <% if @scene.id %>
              <span class="icon pull-right">
                <%= link_to '<i class="icon-eye-open"></i>'.html_safe, @scene, :title => 'Show', :rel => 'tooltip' %>
              </span>
            <% end %>
          </div>
        </div>
        <%= render 'netwidget' %>

        <div class="field">
          <%= f.hidden_field :name %>
        </div>
        <div class="field">
          <%= f.hidden_field :definition %>
        </div>

        <div id="form-actions" class="form-actions">
          <%= f.submit "Save", :class => 'btn btn-primary' %>
          <%= button_to_function "Clear", "clearScene()", :class => 'btn' %>
        </div>
      </div>

    </div>

  </div>
<% end %>
