<%= render partial: 'widget_handler', formats: :js %>

<%= form_for @scene, :html => { :onSubmit => 'return fillForm();' } do |f| %>
  <% if @scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
      <% @scene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'netwidget' %>

  <div class="field">
    <%= f.hidden_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :definition %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
    <%= button_to_function "Clear", "clearScene()" %>
  </div>
<% end %>
