<div class="container-fluid">

  <ul id="breadcrumb" class="breadcrumb wizard">
    <li><a href="/"><i class="icon-home"></i></a></li>
    <li class="active">Scenes</li>
  </ul>

  <div class="row-fluid container-widget">

    <div id="netlab_params" class="span5">

      <%= link_to '<i class="icon-plus icon-white"></i> New Scene'.html_safe, new_scene_path, :class => 'btn btn-primary pull-right new' %>

      <div class="tabbable tabbable-bordered">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab"><h4>Listing scenes</h4></a></li>
        </ul>
        <div class="tab-pane active" id="tab1">
          <table id="table_scenes" class="table table-hover table-list">
            <thead>
              <tr>
                <th></th>
                <th>Owner</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @scene.nil? %>
                <div class="alert alert-info">
                  You don't have any scenes yet.
                </div>
              <% end %>
              <% @scenes.each_with_index  do |scene, i| %>
                <tr>
                  <td>
                    <% if i == 0 %>
                      <%= radio_button_tag :id, scene.id, true, :class => scene.name %>
                    <% else %>
                      <%= radio_button_tag :id, scene.id, false, :class => scene.name %>
                    <% end %>
                  </td>
                  <td><%= scene.user.first_name %></td>
                  <td><%= scene.name %></td>
                  <td>
                    <% if scene.workspaces.empty? %>
                      <%= link_to '<i class="icon-eye-open icon-white"></i>'.html_safe, scene_path(scene), :class => 'btn btn-success btn-mini',
			  :title => 'Show', :rel => 'tooltip' %>
                      <%= link_to '<i class="icon-edit icon-white"></i>'.html_safe, edit_scene_path(scene), :class => 'btn btn-mini btn-info',
			  :title => 'Edit', :rel => 'tooltip' %>
                      <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, delete_scene_path(scene), :class => 'btn btn-mini btn-danger',
			  :title => 'Remove', :rel => 'tooltip', :remote => true %>
                    <% else %>
                      <div class="btn-group">
                        <a class="btn dropdown-toggle btn-mini btn-warning" data-toggle="dropdown" href="#">
                        <i class="icon-eye-open icon-white"></i>
                        Workspaces
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <% scene.workspaces.each  do |workspace| %>
                            <li><%= link_to "#{workspace.name}", workspace_path(workspace) %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <% if not @scene.nil? %>
      <div id="scene_view" class="span6 offset1" >
        <div class="navbar">
          <div id="container_title" class="navbar-inner">
            <a id="scene_title" href="#" class="brand">Loading...</a>
          </div>
        </div>

        <%= render 'netwidget' %>
      </div>
   <% end %>

  </div>

</div>
