<div class="navbar navbar-fixed-top">
  <div id="navbar-home" class="nav pull-right">

    <!--
    <IFRAME SRC=<%= @shell_url %> id="gadget0" name="gadget0" frameborder="1" width="720" height="500">
    If you can see this, your browser doesn't understand IFRAME.
    </IFRAME>
    -->

    <!--
    <p>
    <%= link_to "Close", home_close_path %>
    </p>
    -->

    <div id="menu">
      <h7>Home <%= @user.first_name %></h7>
      |
      <%= link_to 'Workspaces', workspaces_path %>
      |
      <%= link_to 'Scenes', scenes_path %>
      |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>

  </div>

</div>