<!DOCTYPE html>
<html>
<head>
  <title>Netlab</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

      <div class="container-fluid" style="width: auto;">

        <a id="title" href="#">Netlab</a>

        <% if user_signed_in? %>
          <%= render :file => "/home/index" %>
        <% end %>

      </div>

    </div>

  </div>

  <%= yield %>

</body>
</html>
