<!DOCTYPE html>
<html>
<head>
  <title>Netlab</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/streaming/javascripts/workspace.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

      <div class="container-fluid" style="width: auto;">

        <a id="title" href="/">Netlab</a>

        <% if user_signed_in? %>
          <div class="navbar pull-right" id="user-nav">
            <ul class="nav btn-group">
              <li class="btn"><%= link_to '<i class="icon-home"></i> Home '.html_safe + "#{current_user.first_name}", root_path %></li>
              <li class="btn"><%= link_to '<i class=" icon-th"></i> Workspaces'.html_safe, workspaces_path %></li>
              <li class="btn"><%= link_to '<i class="icon-list"></i> Scenes'.html_safe, scenes_path %></li>
              <li class="btn"><%= link_to '<i class="icon-user"></i> My profile'.html_safe, "/profiles/#{current_user.id}" %></li>
              <li class="btn">
                <%= link_to (root_path) do %>
                  <%= '<i class="icon-bell"></i> Notifications'.html_safe %>
                  <% if @num_invitations != 0 %>
                    <%= '<span class="badge badge-important">'.html_safe + "#{@num_invitations}" + '</span>'.html_safe %>
                  <% end %>
                  <% if @num_tasks != 0 %>
                    <%= '<span class="badge badge-warning">'.html_safe + "#{@num_tasks}" + '</span>'.html_safe %>
                  <% end %>
                <% end %>
              </li>
              <li class="btn"><%= link_to '<i class="icon-off"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% end %>

      </div>

    </div>

    <% flash.each do |type, message| %>
      <div id="alert" class="<%= flash_class(type) %>">
        <%=  message %>
      </div>
    <% end %>

  </div>

  <%= yield %>

</body>
</html>
