<!DOCTYPE html>
<html>
<head>
  <title>Netlab</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

      <div class="container-fluid" style="width: auto;">

        <a id="title" href="#">Netlab</a>

        <% if user_signed_in? %>

		<div id="navbar-home" class="nav pull-right">

		    <!--
		    <IFRAME SRC=<%= @shell_url %> id="gadget0" name="gadget0" frameborder="1" width="720" height="500">
		    If you can see this, your browser doesn't understand IFRAME.
		    </IFRAME>
		    -->

		    <!--
		    <p>
		    <%= link_to "Close", home_close_path %>
		    </p>
		    -->

		    <div id="menu">
		      <h7><%= link_to "Home #{current_user.first_name}", root_path %></h7>
		      |
		      <%= link_to 'Workspaces', workspaces_path %>
		      |
		      <%= link_to 'Scenes', scenes_path %>
		      |
		      <%= link_to 'My profile', "/profiles/#{current_user.id}" %>
		      |
		      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
		    </div>

		</div>
        <% end %>

      </div>

    </div>

    <% flash.each do |type, message| %>
      <div id="alert" class="<%= flash_class(type) %>">
        <%=  message %>
      </div>
    <% end %>

  </div>

  <%= yield %>

</body>
</html>
